.popupB {
	position: fixed;
	display: none;
	width: 100%;
	height: 100vh;
	top: 0;
	align-items: center;
	z-index: 100;
	background-color: rgba(#000, .8);
	overflow-y: scroll;
	&.-visible {
		display: flex;
	}
	&__inner {
		position: relative;
		width: 100%;
		max-width: 600px;
    	top: 40px;
    	padding: 60px 60px 65px;
    	background-color: #fff;
    	box-sizing: border-box;
    	@include media(mtp) {
    		top: 0;
    		padding: 40px 40px 45px;
    	};
    	@include media(msl) {
    		padding: 60px 10px 25px;
    	};
	}
	&__close {
		position: absolute;
		top: 10px;
		right: 10px;
		width: 60px;
		height: 60px;
		font-size: 0;
		cursor: pointer;
		@include media(msl) {
			width: 40px;
			height: 40px;
		};
		&::before {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			display: block;
			width: 1px;
			height: 45px;
			transform: translate(-50%, -50%) rotate(45deg);
			background-color: #000;
			@include media(msl) {
				height: 35px;
			};
		}
		&::after {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			display: block;
			width: 1px;
			height: 45px;
			transform: translate(-50%, -50%) rotate(-45deg);
			background-color: #000;
			@include media(msl) {
				height: 35px;
			};
		}
		&:hover {
			opacity: .6;
		}
	}
}