// Миксин для медиа-запросов
@mixin media($break-point) {
	$msd: "(max-width: 1366px)";
	$mtl: "(max-width: 1169px)";
	$mtp: "(max-width: 979px)";
	$msl: "(max-width: 767px)";
	$msp: "(max-width: 479px)";
	@if $break-point == msd {
		@media #{$msd} {
			@content;
		}
	}
	@if $break-point == mtl {
		@media #{$mtl} {
			@content;
		}
	}
	@if $break-point == mtp {
		@media #{$mtp} {
			@content;
		}
	}
	@if $break-point == msl {
		@media #{$msl} {
			@content;
		}
	}
	@if $break-point == msp {
		@media #{$msp} {
			@content;
		}
	}
}

// Миксин для описания адаптивных колонок
@mixin col($options: ()) {
	@if (if(map-get($options, desktop), 1, 0) == 1) {
		@media screen and (min-width: 1335px) {
			$col-width: map-get($options, desktop);
			$cols-count: floor(100% / $col-width);

			width: $col-width;
			margin-right: (100% - ($col-width * $cols-count)) / ($cols-count - 1);
			&:nth-child(#{$cols-count}n) {
				margin-right: 0;
			}
		}
	}
	@if (if(map-get($options, mtl), 1, 0) == 1) {
		@media screen and (min-width: 980px) and (max-width: 1179px) {
			$col-width: map-get($options, mtl);
			$cols-count: floor(100% / $col-width);

			width: $col-width;
			margin-right: (100% - ($col-width * $cols-count)) / ($cols-count - 1);
			&:nth-child(#{$cols-count}n) {
				margin-right: 0;
			}
		}
	}
	@if (if(map-get($options, mtp), 1, 0) == 1) {
		@media screen and (min-width: 768px) and (max-width: 979px) {
			$col-width: map-get($options, mtp);
			$cols-count: floor(100% / $col-width);

			width: $col-width;
			margin-right: (100% - ($col-width * $cols-count)) / ($cols-count - 1);
			&:nth-child(#{$cols-count}n) {
				margin-right: 0;
			}
		}
	}
	@if (if(map-get($options, msl), 1, 0) == 1) {
		@media screen and (min-width: 480px) and (max-width: 767px) {
			$col-width: map-get($options, msl);
			$cols-count: floor(100% / $col-width);

			width: $col-width;
			margin-right: (100% - ($col-width * $cols-count)) / ($cols-count - 1);
			&:nth-child(#{$cols-count}n) {
				margin-right: 0;
			}
		}
	}
	@if (if(map-get($options, msp), 1, 0) == 1) {
		@media screen and (min-width: 1px) and (max-width: 479px) {
			$col-width: map-get($options, msp);
			$cols-count: floor(100% / $col-width);

			width: $col-width;
			margin-right: (100% - ($col-width * $cols-count)) / ($cols-count - 1);
			&:nth-child(#{$cols-count}n) {
				margin-right: 0;
			}
		}
	}
}


@mixin row {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}
//=====================================
//=End of mixins
//=====================================

//=====================================
//=placeholder selectors
//=====================================
// Сетка
@mixin grid {
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
	box-sizing: border-box;
	@include media(mtl) {
		padding-right: 20px;
		padding-left: 20px;
		max-width: 100%;
	}
	@include media(msl) {
		padding-right: 10px;
		padding-left: 10px;
	}
	@content;
}

@mixin layout {
	@content;
}

@mixin icon {
	display: flex;
	align-items: center;
	box-sizing: border-box;
	line-height: 1;
	&::before {
		content: '';
		display: block;
		flex-shrink: 0;
		width: 25px;
		height: 25px;
		margin-right: 30px;
		background-image: url(../images/i-phone--black.png);
		background-size: 100%;
		background-position: center;
		background-repeat: no-repeat;
		@content;
	}
}

@mixin icon--mask($image: '../images/icons/telephone.svg', $color: $colorStyle) {
	display: flex;
	align-items: center;
	box-sizing: border-box;
	line-height: 1;
	&::before {
		content: '';
		display: block;
		flex-shrink: 0;
		width: 25px;
		height: 25px;
		margin-right: 30px;
		background-size: 100%;
		background-position: center;
		background-repeat: no-repeat;
		background-image: url($image);
		@supports (mask-image: url($image)) {
			mask-image: url($image);
			mask-size: 100%;
			background-color: $color;
			background-image: none;
		}
		@content;
	}
}

@mixin more {
	@content;
}

@mixin link {
	text-decoration: underline;
	&:hover {
		text-decoration: none;
	}
	@content;
}

@mixin title {
	font-family: $fontTitle;
	font-weight: 300;
	line-height: 1.15;
	@content;
}

@mixin uppercase {
	text-transform: uppercase;
	letter-spacing: 0.04em;
	@content;
}

// Миксин форматированного поля. deprecated
@mixin -f {
	p {
		margin-bottom: .7em;
		&:last-child {
			margin-bottom: 0;
		}
	}
	h3 {
		@include title {
			font-size: 30px;
			margin-bottom: .7em;
		}
		@include media(msl) {
			font-size: 24px;
		};
	}
	h4 {
	    margin-top: 2.3em;
    	margin-bottom: 1.1em;
		&:first-child {
			margin-top: 1em;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
	ul {
		margin-top: 0.7em;
		margin-bottom: 2em;
		&:first-child {
			margin-top: 1.5em;
		}
		&:last-child {
			margin-bottom: 0em
		}
	}
	li {
		position: relative;
		padding-left: 27px;
		box-sizing: border-box;
		margin-bottom: .4em;
		&:last-child {
			margin-bottom: 0em
		}
		&::before {
			content: '';
			position: absolute;
			top: .4em;
			left: 0;
			width: 9px;
			height: 9px;
			background-color: $colorStyle;
			border-radius: 50%;
		}
	}
	table {
		width: 100%;
		border: 1px solid $colorBorder;
		border-bottom: none;
		box-sizing: border-box;
		margin-top: 3em;
		margin-bottom: 3.5em;
		@include media(msl) {
			display: block;
			width: 100%;
			overflow-x: auto;
		}

		&:first-child {
			margin-top: 0;
		}
		&:last-child {
			margin-bottom: 0em;
		}
		p {
			margin-bottom: 0;
		}
	}
	thead {
		tr {
			font-size: 20px;
			color: $colorTitle;
		}
	}
	tr {
		border-bottom: 1px solid $colorBorder;
	}
	td {
		padding: 15px 25px 15px;
		border-left: 1px solid $colorBorder;
		@include media(msl) {
			padding: 10px;
		}

	}
	a {
		@include link;
	}
}
//=====================================
//=End of placeholder selectors
//=====================================