@import 'susy';

$susy: (
	'columns': susy-repeat(12),
	'gutters': 20px,
	'spread': 'narrow',
	'container-spread': 'narrow',
);

$colorStyle: #f6c57c;
$colorStyle--hover: #FACF8F;
$colorAccent: #ff5a45;
$colorTitle: #2c3033;
$colorText: #212327;
$colorLink: #8fc3dc;
$colorBorder: #DEDFE0;

$colorBg: #33383D;
$colorBg--dark: #33383D;
$colorBg--light: #FCF9F6;

$fontTitle: 'TenorSans';
$fontText: 'OpenSans';
$fontAlt: 'Blacksword';

$shadowBox: 0 25px 35px 2px rgba(0,0,0,.05);