include module.pug

mixin bl(b_block, data = {})
	-
		var t = data.t != null ? data.t : 'div'
		var b_block = 'b-' + b_block
		var c_block = data.b != null ? data.b : ''
		var bClasses = [c_block, 'block']

	mixin blockTitle
		+e('heading', {b: 'heading|block', e: c_block, t: 'h2'})
			block
	mixin pageTitle
		+e('heading', {b: 'heading|page', e: c_block, t: 'h1'})
			block
	mixin blockDscr
		+e('dscr', {e: bClasses})
			block

	mixin el(el, eData = {})
		-
			var e = eData.e != null ? eData.e : ''
			var t = eData.t != null ? eData.t : 'div'
			var eClasses = mergeArrays(c_block, e)
		+e(el, {e: eClasses, t: t})&attributes(attributes)
			block

	+b(b_block, {b: bClasses}, t)&attributes(attributes)
		if(data.isPopup == true)
			+el('close')
				span Закрыть
		if(data.hasGrid != false)
			+e('inner', {e: bClasses})
				block
		else
			block