include module.pug

mixin bl(b_block, data = {})
	-
		var t = data.t != null ? data.t : 'div'
		var b_block = 'b-' + b_block
		var c_block = data.b != null ? data.b : ''
		var b = [c_block, 'c-block']

	mixin blockTitle
		+e('heading', {e: bClasses, t: 'h2'})
			block
	mixin pageTitle
		+e('heading', {e: bClasses, t: 'h1'})
			block

	mixin el(el, eData = {})
		-
			var e = eData.e != null ? eData.e : ''
			var t = eData.t != null ? eData.t : 'div'
			var eClasses = mergeArrays(c_block, e)
		+e(el, {e: eClasses, t: t})&attributes(attributes)
			block

	+b(b_block, {b: bClasses}, t)
		+e('inner', {e: bClasses})
			block