-
	function ucfirst(text) {
		return text.charAt(0).toUpperCase() + text.slice(1);
	}

	function pushToArray(arr1, arr2) {
		if(!Array.isArray(arr1)) {
			arr1 = [arr1]
		}
		for(el in arr1) {
			arr2.push(arr1[el])
		}
		return arr2
	}

	function mergeArrays(arr1, arr2) {
		var arr3 = pushToArray(arr1, []);
		return pushToArray(arr2, arr3);
	}