doctype html

include ../../../node_modules/bempug/index
include ../template/block.pug
include ../template/region.pug

-
    var pageBlock = 'front'
    var hasSidebar = false

    var pageTitle = 'FrontPage'

block vars

block storage

-
    var pageClasses = [pageBlock !== 'front' ? 'innerPage' : '', hasSidebar ? 'sidebarPage' : '', 'page']
    var pageBlock = pageBlock + 'Page'

html
    head
        title= pageTitle
        meta(charset="UTF-8")
        link(rel="stylesheet" href="css/styles.css")
        link(rel="icon" href="images/favicon.png" type="image/png")
        meta(name="viewport" content="width=device-width,initial-scale=1")
    +b(pageBlock, {b: pageClasses, t: 'body'})
        +e('layout', {e: pageClasses})
            +e('header', {e: pageClasses})
                include header.pug
                block header
            +e('inner', {e: pageClasses, t: 'main'})
                +e('main    ', {e: pageClasses})
                    +e('content')
                        block content
                if hasSidebar
                    +e('sidebar', {e: pageClasses, t: 'aside'})
                        +rg('firstSidebar')
                            block firstSidebar
            +e('footer', {e: pageClasses})
                include footer.pug
            +e('popup', {e: pageClasses})
                block popup
    script(type="text/javascript" src="js/libs.js")