//=====================================
//=el
//=====================================
.heading {}
.button {
	@include media(msl) {
		display: none;
	};
}
.link {
	display: inline-block;
	text-decoration: underline;
	&:hover {
		text-decoration: none;
	}
}

.checkbox {
	$m: &;

	display: flex;
	align-items: center;
	cursor: pointer;

	&__input {
		display: none;
		&:checked + #{$m}__content {
			&::before {
				background-size: 22px;
			}
		}
	}
	&__content {
		display: flex;
		align-items: center;
		font-weight: 400;
		font-size: 16px;
		@include media(mtl) {
			font-size: 14px;
		};
		@include media(mtp) {
			font-size: 12px;
		};
		&::before {
			content: '';
			display: block;
			width: 30px;
			height: 30px;
			outline: 1px solid $colorBorder;
			margin-right: 15px;
			box-sizing: border-box;
			background-image: url(../images/icon/check.svg);
			background-size: 0;
			background-position: center;
			background-repeat: no-repeat;
			transition: all 0.2s ease 0s;
		}
	}
	a {
		color: $colorStyle;
		@include link;
	}
}

.select {
	display: flex;
	&::after {
		width: 70px;
		height: 100%;
		flex-shrink: 0;
		background-color: $colorStyle;
	}
	&__list {
		outline: 1px solid $colorBorder;
	}
}

.callTime {
	opacity: .4;
	pointer-events: none;
	&.-visible {
		opacity: 1;
		pointer-events: auto;
	}
}
//=====================================
//=End of el
//=====================================
