body {
	padding: 0;
	margin: 0;
	font-family: $fontText;
	color: $colorText;
	font-size: 18px;
	font-weight: 300;
	line-height: 1.55;
	background-color: #fff;
	@include media(mtp) {
		font-size: 16px;
	}
	@include media(msl) {
		font-size: 14px;
	}
	@include media(msp) {
		font-size: 12px;
	};
	&.-popup {
		overflow: hidden;
	}
}

h1, h2 {
	@include title;
	margin-top: 0;
}

h1 {
	color: $colorTitle;
	font-size: 56px;
	margin-bottom: 30px;
	line-height: 1.25;
	@include media(mtl) {
		font-size: 48px;
	}
	@include media(mtp) {
		font-size: 40px;
	}
	@include media(msl) {
		font-size: 34px;
	}
	@include media(msp) {
		font-size: 26px;
	}
}

h2 {
	color: $colorTitle;
	font-size: 24px;
	margin-bottom: 25px;
	line-height: 1.02;
	@include media(md) {
		font-size: 42px;
		margin-bottom: 35px;
	}
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

td {
	border: none;
    border-collapse: inherit;
    border-spacing: 0;
}

p {
	margin-top: 0;
	margin-bottom: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	width: 100%;
	height: auto;
	pointer-events: none;
	display: block;
	resize: none;
}

object {
	display: block;
	width: 100%;
	height: auto;
}

svg {
	display: block;
	width: 100%;
	height: auto;
}

video {
	width: 100%;
	height: auto;
	display: block;
}

input, textarea {
	font-size: inherit;
	font-family: inherit;
	font-weight: inherit;
	border: none;
	border-radius: 0px;
	width: 100%;
	max-width: 100%;
	line-height: 1;
	min-width: 0;
	resize: none;
	-webkit-appearance: none;
	box-sizing: border-box;
}


button {
	font-size: inherit;
	font-family: inherit;
	font-weight: inherit;
	border: none;
	padding: 0;
	cursor: pointer;
	background-color: transparent;
}

* {
	outline: none;
}

::selection {
	background-color: $colorStyle;
}

