/* Blacksword */
@font-face {
	font-family: 'Blacksword';
	font-weight: 300;
	src: local('Blacksword'), url('../fonts/Blacksword/Blacksword.otf');
}

/* TenorSans */
@font-face {
	font-family: 'TenorSans';
	font-weight: 300;
	src: local('TenorSans'), url('../fonts/TenorSans/TenorSans-Regular.ttf');
}

/* OpenSans */
@font-face {
	font-family: 'OpenSans';
	font-weight: 300;
	src: local('OpenSans'), url('../fonts/OpenSans/OpenSans-Light.ttf');
}

@font-face {
	font-family: 'OpenSans';
	font-weight: 400;
	src: local('OpenSans'), url('../fonts/OpenSans/OpenSans-Regular.ttf');
}